<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="baselog" layout="${longdate} ${logger} ${message} ${exception:Message,StackTrace}" fileName="${basedir}/logs/log.today.txt" archiveFileName="${basedir}/logs/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="1" concurrentWrites="true" />
    <target xsi:type="File" name="servicelog" layout="${longdate} ${logger} ${message} ${exception:Message,StackTrace}" fileName="${specialfolder:CommonApplicationData}/ClinicArrivals/log.today.txt" archiveFileName="${specialfolder:CommonApplicationData}/ClinicArrivals/logs/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" />
    <target xsi:type="File" name="userlog" layout="${longdate} ${logger} ${message} ${exception:Message,StackTrace}" fileName="${specialfolder:ApplicationData}/ClinicArrivals/logs/log.today.txt" archiveFileName="${specialfolder:ApplicationData}/ClinicArrivals/logs/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" />
    <target xsi:type="Console" name="console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="userlog" />
  </rules>
</nlog>