<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ACCOUNT_SID" value="ACaab8ee23cacbf7f30da842053d91f3aa"/>
    <add key="AUTH_TOKEN" value="fcebb79799bc2d4a132802580763ae17"/>
    <add key="SEND_NUMBER" value="+12678434041"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>