<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ACCOUNT_SID" value="ACaab8ee23cacbf7f30da842053d91f3aa"/>
    <add key="AUTH_TOKEN" value="fcebb79799bc2d4a132802580763ae17"/>
    <add key="SEND_NUMBER" value="+12678434041"/>
    <add key="PollIntervalSeconds" value="30"/>
    <add key="IntroSmsMessage" value="Due to the COVID-19 pandemic, the clinic no longer has an open patient waiting room.
      When you arrive at the clinic, stay in your car and respond to this SMS with the word
      `arrived`. The wait in your car until you are invited in. If you do not arrive by car,
      then wait [instructions]"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>